<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Este es un projecto creado con Express, para el curso Node.js de la UTN</h3>
  </body>
</html>
